<extend name="Layout/base" />
<block name="title">学生自测 - {:C('SYS_NAME')}</block>
<block name="page_title">学生自测</block>
<block name="page_title_en">selftest</block>
<block name="main">
		<div class="am-g">
			<div class="am-u-sm-12">
				<table class="am-table text-overflow am-table-striped am-table-hover table-main am-table-centered">
					<thead>
						<tr><th style="width: 50px">序号</th><th>章节</th><th style="width: 50px">题量</th><th>参与人数</th><th style="width: 150px">操作</th></tr>
					</thead>
					<tbody id="body">
					<if condition="$data">
					<volist name="data" id="item">
					<tr><td>{$key+1}</td><td>{$item.title}</td><td>{$item.total}道</td><td>{$item.users}</td><td><a href="?id={$item.pid}">查看成绩</a><!-- <a href="?error={$item.pid}">查看错题</a>--></td></tr>
					</volist>
					<else/>
					<tr><td colspan=5><span class='am-icon-warning'></span> 暂无数据</td></tr>
					</if>
					</tbody>
				</table>
				<br><br><br><br>
			</div>
		</div>
	</block>