<extend name="base" />
<block name="title">忘记密码 - {:C('SYS_NAME')}</block>
<block name="h1">忘记密码</block>
<block name="h4">重置你的系统帐户</block>
<block name="form">
				<div class="am-form-group am-margin-top">
					<label for="email" class="am-form-label">邮箱</label>
					<div class="am-input-group">
						<input type="email" name="email" id="email" placeholder="请输入电子邮箱" class="am-form-field" value="{$Think.post.email}" autocomplete="off">
						<span class="am-input-group-label am-btn">获取验证码</span>
					</div>
				</div>
				<div class="am-form-group am-margin-top">
					<label for="code" class="am-form-label">验证码</label>
					<input type="text" name="code" id="code" placeholder="请输入验证码" class="am-form-field" value="{$Think.post.code}" autocomplete="off">
				</div>
				<div class="am-form-group am-margin-top">
					<label for="password" class="am-form-label">密码</label>
					<input type="password" name="password" id="password" placeholder="请输入密码" class="am-form-field" value="{$Think.post.password}" autocomplete="off">
				</div>
				<div class="am-form-group am-margin-top">
					<label for="password1" class="am-form-label">确认密码</label>
					<input type="password" name="password1" id="password1" placeholder="请再次输入密码" class="am-form-field" value="{$Think.post.password1}" autocomplete="off">
				</div>
				<div class="am-form-group am-margin-top">
					<input type="submit" name="login" value="重置密码" class="am-btn am-btn-primary am-btn-sm am-fl">
					<a href="../user/register" style="margin-left:10px;" class="am-btn am-btn-default am-btn-sm am-fr">注 册</a>
					<a href="../user/login" style="margin-left:10px;" class="am-btn am-btn-default am-btn-sm am-fr">登 录</a>
				</div>
</block>
<block name="script">
	<script src="__PUBLIC__/assets/js/jquery.min.js"></script>
	<script>
		$("#register").submit(function(){
			if ($("input[name='password']").val() != $("input[name='password2']").val()) {
				alert('两次输入的密码不一致！');
				return false;
			}
		});
		$('.submit').click(function(){
			if ($("input[name='password']").val() != $("input[name='password2']").val()) {
				alert('两次输入的密码不一致！');
			}
		});
		$('.am-input-group-label').click(function(){
			email = $("input[name='email']").val();
			if (email) {
				$('.am-input-group-label').html('请求中...');
				$.ajax({
					url:'../user/sendMail',
					data:{
						'email':email
					},
					type:'post',
					dataType:'json',
					success:function(data) {
						if(data.status =='1'){
							countdown();
							$("input[name='code']").removeAttr('disabled');
							$('.am-input-group-label').addClass('am-disabled');
						} else {
							$('.am-text-danger').html(data.msg);
							$('.am-input-group-label').html('获取验证码');
						}
					}
				});
			} else {
				alert('请输入电子邮箱！');
			}
		});
		function countdown(){
			if (typeof(x) == 'undefined' || x <= 0){
				x = 60;
			}
			x = x-1;
			if (x == '0'){
				$('.am-input-group-label').removeClass('am-disabled');
				$('.am-input-group-label').html('获取验证码');
				return;
			}
			$('.am-input-group-label').html('重新获取('+x+')');
			setTimeout("countdown()", 1000);
		}
	</script>
</block>