<header class="am-topbar am-topbar-fixed-top am-topbar-inverse">
		<h1 class="am-topbar-brand">
			<span class="am-icon-file-text-o"></span> 考试系统
		</h1>
		<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>
		<div class="am-collapse am-topbar-collapse" id="topbar-collapse">
			<ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
				<li><a href="../my/message"><span class="am-icon-envelope-o"></span> 消息 <if condition="$_SESSION['messages']"><span class="am-badge am-badge-warning">{$Think.session.messages}</span></if></a></li>
				<li><a href="../my/profile"><span class="am-icon-suitcase"></span> 个人中心</a></li>
				<li><a href="../my/profile">欢迎您，<if condition="$_SESSION['name']">{$Think.session.name}<else/>{$Think.session.username}</if></a></li>
				<li><a href="../user/logout"><span class="am-icon-sign-out"></span> 退出</a></li>
			</ul>
		</div>
	</header>