<div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
			<div class="am-offcanvas-bar admin-offcanvas-bar am-menu-nav">
				<ul class="am-list admin-sidebar-list">
				<li><a href="../index/index"><span class="am-icon-home"></span> 首页</a></li>
				{$Think.session.menu}
				<li><a href="../user/logout"><span class="am-icon-sign-out"></span> 退出登录</a></li>
				</ul>
		
				<div class="am-panel am-panel-default admin-sidebar-panel">
					<div class="am-panel-bd">
						<p><span class="am-icon-bookmark"></span> 公告</p>
						<p>欢迎您来到{:C('SYS_NAME')}！</p>
					</div>
				</div>
			</div>
		</div>